[Unit]
Description=Block incoming IPIP packets based off of the inner IP header's source IP.
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/bin/IPIPBlock ens18
Restart=always

[Install]
WantedBy=multi-user.target